<ion-popover-view class="fit">
  <ion-content>
    <div class="list">
      <a class="item item-icon-left" ng-click="popover.remove()">
        <i class="icon ion-gear-b"></i>
        Profile
      </a>
      <a class="item item-icon-left" ng-click="popover.remove()">
        <i class="icon ion-key"></i>
        Change Password
      </a>

      <a class="item item-icon-left" ng-click="logout()">
        <i class="icon ion-log-out"></i>
        Log out
      </a>
    </div>
  </ion-content>
</ion-popover-view>
