<ion-popover-view class="fit">
  <ion-content scroll="false">
    <div class="list">
      <a class="item" ng-click="popover.remove()" ng-if="user">
        Profile
      </a>
      <a class="item" ng-click="popover.remove()" ng-if="user">
        Change Password
      </a>

      <a class="item" ng-click="menu('login')" ng-if="user">
        Log out
      </a>

      <a class="item" ng-click="menu('login')" ng-if="!user">
        Log in
      </a>
      <a class="item" ng-click="menu('register')" ng-if="!user">
        Register
      </a>
    </div>
  </ion-content>
</ion-popover-view>
