$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #161a24 !default;
$calm:                            #48556b !default;
$balanced:                        #4ccafc !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #132157 !default;
$orange:                          #be2329;
