@import "variables";
//@media (min-width: 680px) {
//  .bigModal {
//    top: 0 !important;
//    bottom: 0 !important;
//    left: 0 !important;
//    right: 0 !important;
//    width: 100% !important;
//  }
//
//  .platform-ios.platform-cordova .modal-wrapper .modal {
//
//    .bar-header:not(.bar-subheader) > * {
//      margin-top: 20px;
//    }
//
//    .bar-header:not(.bar-subheader) {
//      height: 64px;
//    }
//
//    .has-header, .bar-subheader {
//      top: 64px;
//    }
//  }
//}

.platform-ios.platform-cordova:not(.fullscreen) .search-bar {
  margin-top: 20px;
}
.logo {
  width: 115px;
  margin: 0 auto;
}
.capitalize {
  text-transform: uppercase;
}
.row{
  flex-wrap: wrap;
}
.loading-container {
  .loading{
    width: 80%;
  }
}
.padding {
  max-width: 400px;
  margin: 0 auto;
}
.item-input-clear {
  background: rgba(255, 255, 255, 0.8);
  .item-content {
    background: none;
  }
  margin-bottom: 10px !important;
  border-radius: 5px;
}
.item-clear {
  &.blue-bg {
    background: rgba(55, 81, 145, 0.1);
  }
  &.purple-bg {
    background: rgba(255, 0, 255, 0.1);
  }
  &.green-bg {
    background: rgba(51, 205, 98, 0.1);
  }
  background: rgba(255, 255, 255, 0.1);
  .item-content {
    background: none;
    &.activated {
      background: rgba(255,255,255, 0.1);
    }
  }
}
.logo-50 {
  width: 50%;
}
.img-icon {
  width: 35px;
  position: relative;
  top: 5px;
  right: 5px;
}
.bar {
  background-size: 100% 0;
}
.responsive-img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.full-width {
  width: 100%;
}
.no-background {
  background: none;

}
.animate-item{
  animation: fadeInLeft 1s;
}
.picture-bg {
  background: url('../img/bg.png') center;
  background-size: cover;
}

ion-popover-view.fit {
  height: auto !important;
  width: 170px;
}

ion-popover-view.fit ion-content {
  position: relative !important;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px !important;
}
.loading-item {
  padding: 12px;
  span {
    position: relative;
    top: -8px;
    left: 4px;
  }
}
