.JoinLadderView {
  .list {
    max-width: 400px;
    margin: 0 auto;
  }
  span.light {
    font-size: 20px;
  }
  .opacity {
    opacity: .3;
  }
 .selected {
   color: white;
   position: relative;
   .icon {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
   }
 }
}
