.loginView{
  background: $positive;
  .login-container {
    max-width: 300px;
    padding-top: 50px;
    margin: 0 auto;
    .item {
      width: 100%;
      margin: auto;
      &.item-input-clear {
        width: 90%;
        margin: auto;
        background: none;
        border-bottom: $balanced 1px solid;
        padding: 5px;
        > * {
          color: white;
        }
        ::-webkit-input-placeholder {
          color: $balanced;
        }
      }
    }

  }
}
