.RegisterView{
  .register-content{
    padding-top: 50px;
    .battleName {
      width: 60%;
      float: left;
    }
    .battleId {
      width: 40%;
      float: left;
      border-left: none;
    }
  }
}
