.news-container {
  background: $energized;
  iframe {
    display: none;
  }
}
.news-details {
  background: $energized;
}
iframe {
  width: 100%;
  height: auto;
}
.card {
  &.card-news {
    .news-image {
      width: auto;
      height: 25vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      &.default {
        background-image: url('../assets/images/default.png') ;
      }
    }
  }
  &.card-feature {
    border-radius: 0;
    margin: 0;
    padding: 0;
    .news-image {
      height: 25vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      &.default {
        background-image: url('../assets/images/default.png');
      }
    }
  }
}
.item {
  .item-feature {
    background: rgba(0, 0, 0, 0.4);
  }
  &.item-play {
    background: $balanced;
    .button-bar {
      padding: 2px 0;
      .button {
        border-radius: 0;
      }
    }
  }
}
