<div class="row light text-center selectHeroPopup">
  <a
    class="col col-33 capitalize"
    ng-class="{opacity: !selected.status && !hero.checked}"
    ng-click="selectHero(hero)"
    ng-repeat="hero in heroList">
    <div class="padding heroClass" ng-class="{'selected': hero.checked}">
      <div class="icon ion-android-checkmark-circle" ng-if="hero.checked" ng-style="{'font-size': image + 'px'}"></div>
      <img ng-src="img/icons/{{hero.text}}.png" class="responsive-img heroImage">
    </div>

    {{hero.text}}
  </a>
</div>
