@import "variables";
.dashboardView {
  .bar {
    .title {display: none !important;}
  }
}

.selectHeroPopup {
  &.row {
    padding: 0;
    .col {
      padding: 0;
    }
  }
  .opacity {
    opacity: .3;
  }
  .selected {
    color: $balanced;
    position: relative;
    .icon {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}
