<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar align-title="center" class="bar-transparent bar-clear">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon button-light button-clear" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button class="button button-icon onog onog-user button-light button-clear">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="content"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content class="positive-bg">
      <ion-list>
        <ion-item
          menu-close
          ng-click="navigateTo(item.state)"
          class="item-icon-left capitalize item-positive"
          ng-repeat="item in menu.items">
          <i class="icon {{item.icon}}"></i>
          {{item.name}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
