<ion-view class="JoinLadderView picture-bg">
  <ion-nav-title>Reset Password</ion-nav-title>
  <ion-content padding="true">
    <ion-list>

      <ion-item class="item-input item-input-clear">
        <i class="icon ion-email placeholder-icon"></i>
        <input type="email" ng-model="email.text" placeholder="Enter Email">
      </ion-item>

      <div class="padding">
        <button class="full-width button-calm button" ng-click="resetPassword(email)" ng-disabled="!email.text">
          Change Password
        </button>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
