<ion-view class="JoinLadderView picture-bg">
  <ion-nav-title>Join and Win</ion-nav-title>
  <ion-content padding="true">
    <ion-list>

      <div class="item item-input-inset no-background item-borderless">
        <label class="item-input-wrapper">
          <input type="text" ng-model="player.battleTag" class="full-width" placeholder="Enter BATTLETAG™: ItsOVER#9001" autocapitalize="off" autocorrect="off" autocomplete="off">
        </label>
      </div>

      <div class="padding" ng-if="canSelect < 5">
        <div class="row">
          <div class="col text-center">
            <span class="light">Select Four Classes</span>
          </div>
        </div>
      </div>

      <div class="padding" ng-if="canSelect === 5">
        <button class="full-width button-calm button button-small" ng-click="registerPlayer()">Register</button>
      </div>


      <div class="row light text-center">
        <a
          class="col col-33 capitalize"
          ng-class="{opacity: !hero.checked && canSelect === 5}"
          ng-click="selectHero(hero, $event)"
          ng-repeat="hero in heroList"
        >

          <div class="padding heroClass" ng-class="{'selected': hero.checked}">
            <div class="icon ion-android-checkmark-circle" ng-if="hero.checked" ng-style="{'font-size': image + 'px'}"></div>
            <img ng-src="img/icons/{{hero.text}}.png" class="responsive-img heroImage">
          </div>

          {{hero.text}}
        </a>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
