<ion-view class="JoinLadderView picture-bg">
  <ion-nav-title>Join and Win</ion-nav-title>
  <ion-content padding="true">
    <ion-list>

      <div class="item item-input-inset no-background item-borderless">
        <label class="item-input-wrapper">
          <input type="text" ng-model="player.battleTag" class="full-width" placeholder="Enter BATTLETAG™: ItsOVER#9001" autocapitalize="off" autocorrect="off" autocomplete="off">
        </label>
      </div>

      <div class="padding">
        <button class="full-width button-calm button button-small" ng-click="registerPlayer()" ng-if="user">Register</button>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
