<ion-view class="RegisterView">
	<ion-content class="register-content" scroll="false">
    <form ng-submit="RegisterUser(user)" class="list no-background padding">

      <ion-item class="item-input item-input-clear item-borderless">
        <i class="icon ion-person placeholder-icon"></i>
        <input type="text" ng-model="user.username" placeholder="Username" autocapitalize="off" autocorrect="off" autocomplete="off">
      </ion-item>

      <ion-item class="item-input item-input-clear item-borderless">
        <i class="icon ion-email placeholder-icon"></i>
        <input type="email" ng-model="user.email" placeholder="Email" autocapitalize="off" autocorrect="off" autocomplete="off">
      </ion-item>

      <ion-item class="item-input item-input-clear item-borderless">
        <i class="icon ion-locked placeholder-icon"></i>
        <input type="password" ng-model="user.password" placeholder="Password">
      </ion-item>

      <ion-item class="item-borderless no-background">
        <div class="row">
          <div class="col">
            <button class="button button-calm full-width" ng-disabled="!user.username || !user.password || !user.email" type="submit">Register</button>
          </div>
        </div>

      </ion-item>

      <div class="item item-borderless no-background" ng-if="warning">
        <div class="item energized-bg assertive text-center">
          {{warning}}
        </div>
      </div>

    </form>
	</ion-content>
</ion-view>
