<ion-view class="AdminPlayersView picture-bg">
  <ion-nav-title>Players</ion-nav-title>
  <ion-content padding="true">
    <ion-list>

      <ion-item class=" item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="player username" ng-model="search.input">
        </label>
        <button class="button button-small" ng-click="searchPlayer()">
          Submit
        </button>
      </ion-item>

      <ion-item ng-repeat="player in players">
        <div>{{player.username}} | {{player.battleTag}}</div>
        <div>Status: {{player.status}}</div>
        <span class="item-note" ng-if="player.banned">Banned</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

