<ion-view class="matchView picture-bg">
  <ion-nav-title>Match Details</ion-nav-title>
	<ion-content padding="true">
    <div class="card no-background list">
      <div class="row text-center">
        <div class="col-33">
          <div class="padding">
            <img ng-src="img/icons/{{opponent.hero}}.png" class="responsive-img">
          </div>
        </div>
        <div class="col-67 light">
          <h2 class="light">{{opponent.username}}</h2>
          <div><strong>Hero Class:</strong> {{opponent.hero}}</div>
          <strong>BattleTag:</strong> {{opponent.battleTag}}
        </div>
      </div>
      <ion-item class="item-clear item-borderless">
        <button class="button button-block button-balanced" ng-click="record('win')" ng-disabled="noOpponent">Win</button>
      </ion-item>
      <ion-item class="item-clear item-borderless">
        <button class="button button-block button-assertive" ng-click="record('loss')" ng-disabled="noOpponent">Loss</button>
      </ion-item>

      <div class="item item-clear light blue-bg text-center loading-item" ng-if="noOpponent">
        <div>
          <ion-spinner icon="ripple" class="spinner-calm"></ion-spinner>
          <span>Waiting for Opponent to Confirm</span>
        </div>
      </div>
    </div>

	</ion-content>
</ion-view>
