<ion-view class="matchView picture-bg">
  <ion-nav-title>Match Details</ion-nav-title>
	<ion-content padding="true">
    <div class="card no-background list">
      <div class="row text-center light">
        <div class="col text-center">
          <strong>Your Opponent is:</strong>
          <h2 class="light">{{opponent.username}}</h2>
          <strong>Please add the BattleTag™ below:</strong>
          <h3 class="light">{{opponent.battleTag}}</h3>
        </div>
      </div>

      <ion-item class="item-clear item-borderless" ng-if="match.status == 'active'">
        <button class="button button-block button-balanced" ng-click="record('win')">Win</button>
      </ion-item>
      <ion-item class="item-clear item-borderless" ng-if="match.status == 'active'">
        <button class="button button-block button-assertive" ng-click="record('loss')">Concede</button>
      </ion-item>

      <ion-item class="item-clear light item-borderless item-text-wrap" ng-if="match.status === 'pending'">
        Opponent hasn't confirmed yet.
      </ion-item>

      <ion-item class="item-clear light item-borderless item-text-wrap text-center" ng-if="match.status === 'completed'">
        Results were entered for this match.
      </ion-item>
      <ion-item class="item-clear light item-borderless item-text-wrap" ng-if="match.winner">
        <h1 class="text-center light">
          Winner:<br>
          {{match.winner.username}}
        </h1>
        <a class="button button-block button-calm" ui-sref="app.dashboard">Back to Dashboard</a>
      </ion-item>

    </div>

	</ion-content>
</ion-view>
