<ion-view class="matchView picture-bg">
  <ion-nav-title>Match Report</ion-nav-title>
	<ion-content padding="true">
    <div class="card no-background">
      <ion-item class="item-clear light item-borderless item-text-wrap">
        <button class="button button-block button-assertive" ng-click="processReport()" ng-disabled="!match.reportReason || !picture">Report Match</button>
      </ion-item>
      <ion-item class="item-divider item-borderless">
        Report Reason
      </ion-item>
      <ion-item class="item-input item-borderless">
        <textarea rows="2" placeholder="Please enter valid reason" ng-model="match.reportReason"></textarea>
      </ion-item>
      <ion-item class="item-clear light item-borderless item-text-wrap">
        <a class="button button-block button-calm" ui-sref="app.dashboard">Back to Dashboard</a>
      </ion-item>

      <ion-item class="item-clear light item-borderless item-text-wrap">
        <a class="button button-block button-calm" ng-click="getPicture()">Get Screenshot</a>
      </ion-item>

      <ion-item class="item-clear" ng-if="picture">
        <img data-ng-src="{{picture}}" width="100%" height="auto" style="width: 100%; height: auto;" ng-if="picture">
      </ion-item>

      <ion-item class="item-energized assertive purple-bg item-borderless item-text-wrap">
        To Report a match you must have the winning screenshot and a brief description. Failure to do so will invalid this request.
      </ion-item>

    </div>

	</ion-content>
</ion-view>
