<ion-view class="tournamentView positive-bg light">
  <ion-content>

    <ion-list ng-if="match.opponent">
      <ion-item class="item-divider text-center">
        Your Opponent:
      </ion-item>

      <ion-item class="item-text-wrap">
        <h1 class="text-center">{{match.opponent.battleNetId}}</h1>
      </ion-item>

      <ion-item>
        <button class="button button-positive button-block" ng-click="copyId()">Copy ID</button>
      </ion-item>

      <ion-item ng-if="!match.result">

        <div class="button-bar">
          <a class="button button-positive" ng-click="recordMatch(true)">Victory</a>
          <a class="button button-assertive" ng-click="recordMatch(false)">Defeat</a>
        </div>

      </ion-item>

      <ion-item ng-if="!match.result" class="item-text-wrap">
        If a player does not add you within 5 minutes, you can report a no show. Please submit screenshot of the player added to your friend's list.
        <a class="button button-positive button-block" ng-click="noShow()">Report No Show</a>
      </ion-item>

      <ion-item ng-if="match.result">
        Result: {{match.result}}
      </ion-item>
    </ion-list>



    <ion-list ng-if="match && !match.opponent">
      <ion-item>
        Searching for Opponent
      </ion-item>
      <ion-item>
        <button class="button button-positive button-block" ng-click="cancelMatch()">Cancel</button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
