<ion-view hide-back-button="true">
  <ion-content class="news-container no-header">

    <div class="parallax feature">
      <div class="news-image" ng-class="{'default': feature.featured_media === 0}">
      </div>
    </div>
    <div class="card card-feature">
      <section class="bottom-content">
        <div class="item item-feature item-icon-right light">
          <div ng-bind-html="feature.title.rendered | sanitize"></div>
          <i class="icon ion-arrow-right-b" ui-sref="details({id: feature.id})"></i>
        </div>
        <div class="item item-play no-padding">
          <div class="button-bar">
            <a class="button button-clear button-light">PLAY</a>
            <a class="button button-positive">STANDINGS</a>
          </div>
        </div>
        <div class="item item-divider item-positive">
          <i class="ion-android-arrow-dropdown-circle calm"></i>
          NEWS
        </div>
      </section>
    </div>

    <div class="item item-borderless item-text-wrap no-padding" ng-repeat="post in news" ng-if="$index !== 0">
      <div class="parallax">
        <div class="news-image default" ng-if="post.featured_media === 0"></div>
        <div class="news-image" back-img="{{post.featured_media}}" ng-if="post.imageFetched"></div>
      </div>
      <div class="padding title" ng-bind-html="post.title.rendered | sanitize"></div>
      <div class="padding" ng-bind-html="post.excerpt.rendered | sanitize"></div>
      <div class="padding text-right" ui-sref="details({id: post.id})">More</div>
    </div>


  </ion-content>
</ion-view>
