<ion-view class="dashboardView picture-bg">
  <ion-nav-title class="hide">Dashboard</ion-nav-title>
	<ion-content padding="true">
    <div class="padding logo">
      <img src="img/onog.png" />
    </div>

    <div class="padding">
      <ion-item class="item-clear purple-bg" ui-sref="app.ladder.leaderboard">
        <h1 class="light">CURRENT</h1>
        <h1 class="light">STANDINGS</h1>
      </ion-item>
    </div>

    <div class="padding" ng-if="player">
      <ion-item class="item-clear light green-bg" ui-sref="app.match.find">
        <h1 class="light">FIND</h1>
        <h1 class="light">MATCH</h1>
      </ion-item>
    </div>

    <div class="padding" ng-if="!player">
      <ion-item class="item-clear light blue-bg" ui-sref="app.ladder.join">
        <h1 class="light">JOIN</h1>
        <h1 class="light">LADDER</h1>
      </ion-item>
    </div>
	</ion-content>
</ion-view>
