<ion-view class="dashboardView picture-bg">
  <ion-nav-title class="hide">Dashboard</ion-nav-title>
	<ion-content padding="true">
    <div class="padding logo">
      <img src="img/onog.png" />
    </div>

    <div class="padding">
      <ion-item class="item-clear" ui-sref="app.standings">
        <h1>VIEW</h1>
        <h1>STANDINGS</h1>
      </ion-item>
    </div>

    <div class="padding">
      <ion-item class="item-clear" ui-sref="app.match.find">
        <h1>FIND</h1>
        <h1>MATCH</h1>
      </ion-item>
    </div>
	</ion-content>
</ion-view>
