<ion-view class="standingsView">
  <ion-content padding="true">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list standings-list">
      <ion-item class="">
        <div class="row">
          <div class="col-25 col-offset-50 text-right">
            Record
          </div>
          <div class="col-25 text-right">
            Points
          </div>
        </div>
      </ion-item>
      <ion-item class="" ng-repeat="player in players">
        <div class="row">
          <div class="col-50">
            {{player.rank}}. {{player.username}}
          </div>
          <div class="col-25 text-right">
            {{player.wins}} - {{player.losses}}
          </div>
          <div class="col-25 text-right">
            {{player.points}}
          </div>
        </div>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
