<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-clear" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear" ng-click="popover.show($event)">
          <img src="img/profile.png" class="img-icon">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content class="picture-bg light">
      <ion-list>
        <div class="h1 title">
          <div class="padding logo">
            <img src="img/onog.png"/>
          </div>
        </div>
        <ion-item ng-if="user.current()" class="item-clear item-borderless light capitalize">
          Hi, {{user.current().username}}
        </ion-item>
        <ion-item menu-close ui-sref="app.dashboard" class="item-clear light item-icon-left capitalize">
          <i class="icon ion-ios-game-controller-b"></i>
          Play Tourney
        </ion-item>
        <ion-item menu-close ng-if="user.current()" ui-sref="app.match.list" class="item-clear light item-icon-left capitalize">
          <i class="icon ion-android-list"></i>
          My Matches
        </ion-item>

        <ion-item menu-close ng-if="user.current().attributes.admin" ui-sref="app.admin.settings" class="item-clear light item-icon-left capitalize" >
          <i class="icon ion-ios-gear"></i>
          Admin
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
