<ion-view class="dashboardView picture-bg">
  <ion-nav-title>Prizes</ion-nav-title>
	<ion-content padding="true">

    <div class="card">
      <ion-item class="item-divider item-text-wrap"><strong>By Playing Battlezone during PAX EAST, you can win:</strong></ion-item>
    </div>
    <div class="card">
      <ion-item class="item-text-wrap item-icon-left">
        <i class="icon ion-cash"></i>
        <strong>$250 gift card every PAX Day</strong>
      </ion-item>
    </div>

    <div class="card">
      <ion-item class="item-text-wrap item-icon-left">
        <i class="icon ion-mouse"></i>
        <strong>Razer™ keyboards, mice and headsets</strong>
      </ion-item>
    </div>
    <div class="card">
      <ion-item class="item-text-wrap item-icon-left">
        <i class="icon ion-android-restaurant"></i>
        <strong>Top two each day gets to go to a special dinner on Sunday with pro players</strong>
      </ion-item>
    </div>

	</ion-content>
</ion-view>
