<ion-view class="RegisterView picture-bg">
	<ion-content class="register-content" scroll="false">
    <form ng-submit="RegisterUser(user)" class="list list-inset no-background padding">

      <ion-item class="item-input item-stable">
        <i class="icon ion-person placeholder-icon"></i>
        <input type="text" ng-model="user.username" placeholder="Username" autocapitalize="off" autocorrect="off" autocomplete="off">
      </ion-item>

      <ion-item class="item-input item-stable">
        <i class="icon ion-email placeholder-icon"></i>
        <input type="email" ng-model="user.email" placeholder="Email" autocapitalize="off" autocorrect="off" autocomplete="off">
      </ion-item>

      <ion-item class="item-input item-stable battleName">
        <i class="icon ion-ios-game-controller-b placeholder-icon "></i>
        <input type="text" ng-model="user.battleTag" placeholder="Battle.net Username" autocapitalize="off" autocorrect="off" autocomplete="off">
      </ion-item>

      <ion-item class="item-input item-stable battleId">
        <i class="icon ion-pound placeholder-icon"></i>
        <input type="text" ng-model="user.battleTagNumber" placeholder="Id" maxlength="4">
      </ion-item>

      <ion-item class="item-input item-stable ">
        <i class="icon ion-locked placeholder-icon"></i>
        <input type="password" ng-model="user.password" placeholder="Password">
      </ion-item>

      <div class="item item-borderless no-background">
        <a class="button button-positive full-width" ng-disabled="!user.username || !user.password || !user.email" type="submit">Register</a>
      </div>

      <div class="item item-borderless no-background" ng-if="warning">
        <div class="item energized-bg assertive text-center">
          {{warning}}
        </div>
      </div>

    </form>
	</ion-content>
</ion-view>
